* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bank Card */
.bank-card {
    width: 360px;
    padding: 30px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* Heading */
.bank-card h2 {
    margin-bottom: 20px;
    color: #1f4037;
}

/* Details box */
.details {
    background: #f3fdf8;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
}

.details p {
    font-size: 15px;
    color: #333;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #1f4037, #2ecc71);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(31, 64, 55, 0.4);
}
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}

.hidden {
    display: none;
}
